body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
}

.top-menu {
  text-align: right;
}

.seach-box {
  padding: 3px;
}

.footer {
  padding: 15px;
  border-top: 1px gray solid;
  text-align: center;
}